<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 跃迁网 | 轻松网赚 短址跃迁</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="keywords" content="跃迁网,短地址,短址,跃迁短址">
    <meta name="description" content="跃迁网生成短址,轻松访问互联网">

    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    <style type="text/css">
        .logo {float: left;width: 83px;margin-top:33px;}
        .logobanner {background: url(images/bgbanner.png) no-repeat center;height: 150px;margin: 0;padding: 0;}
        .float-left{float:left;height:auto;}
        .body { width: 900px;margin: 0 auto;}
        .content-wrapper {width: 900px;margin: 0 auto;}
        .top {height: 30px;}
            .top > .user {float: right;}
                .top > .user a {font-size: 14px;color: #ffbd56;}
                    .top > .user a:hover {text-decoration: underline;}
        </style>

</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="clear height20"></div>
            <div class="top">
                @if (Request.IsAuthenticated)
                {
                    <div class="user">
                        <a href="/User">@User.Identity.Name</a>，
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "display:inline" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">注销！</a>
                        } | <a href="javascript:AddFavorite();">收藏网站</a>
                    </div>
                }
                else
                {
                    <div class="user"><a href="/User/Login">登录</a> | <a href="/User/Register">注册</a> | <a href="javascript:AddFavorite();">收藏网站</a></div>
                }

            </div>

            <div class="logobanner">
                <div class="logo">
                    <p class="site-title">
                        <a href="/Home"><img src="~/Content/user/images/logo_design2_270_83.png" border="0" /></a>
                    </p>
                </div>
            </div>

        </div>
    </header>
    <div class="clear height30"></div>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <div class="clear height30"></div>
        <div class="foot">
            <p>&copy; @DateTime.Now.Year - <a href="http://yqurl.com">跃迁网</a></p>
        </div>

</body>
</html>
